{% extends 'base.html' %}

{% block title%}Human Resource{%endblock title%}

{% comment %} Resnder Body Start {% endcomment %}
{% block body  %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Designation</h4>
                        </div>
                        <div class="col-md-6 text-end">
                            <a href="/DesignationReg" class="btn btn-danger me-2">
                                <span class="menu-icon">
                                    <i class="mdi mdi-plus"></i>
                                </span> Designation
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 130px; text-align: center;">S.No.</th>
                                    <th>Designation</th>
                                    <th style="width: 100px; text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in desig %}
                                <tr>
                                    <td style="text-align:center;">{{item.Id}}</td>
                                    <td>{{item.Designation}}</td>
                                    <td style="text-align:center;">
                                        <a href="{% url 'edit_designation' item.Id %}">
                                            <span class="menu-icon">
                                                <i class="mdi mdi mdi-border-color"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright HMC 2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="#" target="_blank">Bootstrap admin template</a> from HMC</span>
        </div>
    </footer>
    <!-- partial -->
</div>

{% endblock  %}