{% extends 'base.html' %}

{% block title%}Human Resource{%endblock title%}

{% comment %} Resnder Body Start {% endcomment %}
{% block body  %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Employee Registration</h4>
                    <p class="card-description"></p>
                    <form class="form-sample" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Staff type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="Stafftype">
                                            <option value="1">Employee</option>
                                            <option value="2">Consultant</option>
                                            <option value="3">Employee / Consultant</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Employement Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="EmployementType">
                                            <option value="1">PT</option>
                                            <option value="2">NFT</option>
                                            <option value="3">FTP</option>
                                            <option value="4">FTC</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="EmployeeNameTitle">
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs">Mrs</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-7">
                                        <input class="form-control" placeholder="Employee Name" name="EmployeeName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">User Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="User Name" name="UserName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Father's \ Husband Name</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="FatherHusbandNameTitle">
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs">Mrs</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-7">
                                        <input class="form-control" placeholder="Father's \ Husband Name" name="FatherHusbandName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mother's Name</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Mother's Name" name="MotherName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Employee CNIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Employee CNIC" name="EmployeeCNIC" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Father's \ Husband CNIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Father's \ Husband CNIC" name="FatherHusbandCNIC" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Conatct No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Conatct No" name="ContactNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Other Conatct No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Other Conatct No" name="OtherConatctNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="Gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Joining Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="dd-mm-yyyy" name="JoiningDate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Staff Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="StaffCategory">
                                            <option value="1">Clinical</option>
                                            <option value="2">Non-Clinical</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Employee Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="EmployeeType">
                                            <option value="1">Executive Management</option>
                                            <option value="2">Middle Management</option>
                                            <option value="3">Support Staff</option>
                                            <option value="4">Auxilary Staff</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="Department">
                                            <option value="1">Administration</option>
                                            <option value="2">Ambulance</option>
                                            <option value="3">Bio Madical</option>
                                            <option value="4">Consultant Clinics</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Location</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="Location">
                                            <option value="1">Administration</option>
                                            <option value="2">Ambulance</option>
                                            <option value="3">Bio Madical</option>
                                            <option value="4">Consultant Clinics</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Designation</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="Designation">
                                            <option value="1">Project Head</option>
                                            <option value="2">Office Boy</option>
                                            <option value="3">Project Enginess</option>
                                            <option value="4">COO</option>
                                            <option value="5">Pharmacist</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Salary Grade</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="SalaryGrade">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Report Direct</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="ReportDirect">
                                            <option value="1">Hafiz Murtaza | HOD</option>
                                            <option value="2">Raheel        | PGM</option>
                                            <option value="3">Rizwan        | GGM</option>
                                            <option value="4">Sharjeel Khan | HOD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Report In-Direct</label>
                                    <div class="col-sm-9">
                                        <select class="form-control js-example-basic-single" style="width:100%" name="ReportIn-Direct">
                                            <option value="1">Hafiz Murtaza | HOD</option>
                                            <option value="2">Raheel        | PGM</option>
                                            <option value="3">Rizwan        | GGM</option>
                                            <option value="4">Sharjeel Khan | HOD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label form-check-success">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Active
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-check form-check-danger">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> In-Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <a href="/Employee" class="btn btn-dark">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright HMC 2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="#" target="_blank">Bootstrap admin template</a> from HMC</span>
        </div>
    </footer>
    <!-- partial -->
</div>

{% endblock  %}
