{% extends 'base.html' %}

{% block title%}Human Resource{%endblock title%}

{% comment %} Resnder Body Start {% endcomment %}
{% block body  %}

<div class="main-panel">
    <div class="content-wrapper"> 
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Employee</h4>
                        </div>
                        <div class="col-md-6 text-end">
                            <a href="EmployeeReg" class="btn btn-danger me-2" style="font-weight: bold !important; ">
                                <span class="menu-icon">
                                    <i class="mdi mdi-plus"></i>
                                </span> Employee Registration
                            </a>
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>UserName</th>
                                    <th>Father/Husband Name</th>
                                    <th>Contact No</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>IsActive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in EmployeeList %}
                                <tr>
                                    <td>{{item.Id}}</td>
                                    <td>{{item.Employee_code}}</td>
                                    <td>{{item.Employee_Title}} {{item.Employee_name}}</td>
                                    <td>{{item.User_Name}}</td>
                                    <td>{{item.Father_Husb_Title}} {{item.Father_Husb_name}}</td>
                                    <td>{{item.Contact}}</td>
                                    <td>{{item.Department_id}}</td>
                                    <td>{{item.Designation_id}}</td>
                                    <td><label class="badge badge-success">Active</label></td>
                                    <td>
                                        <a class="nav-link" href="#">
                                            <span class="menu-icon">
                                                <i class="mdi mdi mdi-border-color"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright HMC 2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="#" target="_blank">Bootstrap admin template</a> from HMC</span>
        </div>
    </footer>
    <!-- partial -->
</div>

{% endblock  %}
